name: ci
on:
  push:
    branches: [main]
jobs:
  preparing:
    runs-on: ubuntu-latest
    steps:
      - name: checkout-repo
        uses: actions/checkout@v6

      - name: setup node
        uses: actions/setup-node@v6
        with:
          version: 22

